@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body{
    margin: 0px;
    background-color: black;
}
h2{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    color: #276c7d;
    font-size: 30px;
}
h3{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    color: #276c7d;
    font-size: 20px;

}
body h1 {
    text-align: center;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #276c7d;
    font-size: 100px !important;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
}
.texto{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
}
.navbar li{
    font-family: "Metal Mania", system-ui;
    color: #276c7d;
    font-size: 30px
}
.navbar a{
    text-decoration: none
}
.navbar a:hover{
    background-color: rgb(70, 70, 70);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.infoleft{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: white;
    border-style: solid;
    padding: 5px;
}
.infoleft p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.infodown{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: white;
    border-style: solid;
    padding: 5px;
}
.infodown p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.diviframe{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.imagenindex{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.labanda{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.miembro {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px; 
    margin-bottom: 20px; 
}

.miembro img {
    max-width: 150px; 
    height: auto;
    border-radius: 50%; 
}
.infomiembro h3 {
    margin: 0;
    font-size: 1.5rem;
}

.infomiembro p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
}
.disco {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 25px;
    align-items: center;
    position: relative; 
}

.disco img {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 60%;
    margin-left: 0.5rem;
    position: relative; 
    margin-top: 20px;
}
.infodisco {
    grid-column-start: 2;
    grid-column-end: 3;
}
.disco h2 {
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: #276c7d;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.boldblue{
    font-family: "Metal Mania", system-ui;
    color: #276c7d;
    font-weight: bold;

}
.galeriagrid{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-rows: 3;
    grid-template-columns: 2;
    gap: 15px;

}
.foto1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
}
.foto2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
}
.foto3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
}
.foto4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
}
.foto5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow: hidden;
}
.galeriagrid img{
    width: 100%;
    height: auto;
    margin: 0;
}
@media (max-width: 768px) {
    .galeriagrid {
        grid-template-columns: 1;
        gap: 10px;
    }
}
.margen{
    margin: 15px;
}
.contenedorcontacto {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
.navbarbs ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
}
.navbarbs li{
    font-family: "Metal Mania", system-ui;
    color: #276c7d;
    font-size: 30px;
    padding: 0px !important;
    margin: 0px !important;
}
.navbarbs a{
    text-decoration: none;
}
.contenedorformulario{
    max-width: 800px;
}
a:visited {
    color: #276c7d !important; 
}
.titulobs{
    margin: 75px;
}
.navbar-divider {
    border-top: 1px solid #ccc; /* Estilo del divisor */
    margin: 5px 0; /* Espaciado entre el divisor y los elementos de la barra de navegación */
  }
  a{
    color: #276c7d !important;
  }