body{
    margin: 0px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.grid div{
    border: 1px solid black;
}
.infoleft{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.infodown{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.diviframe{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.imagenindex{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.miembro{
    display: grid;
    grid-template-columns: 1fr 2fr;  
    height: 100vh;
    width: 100vw;
    margin: 25px;
    align-items: center;
}

.miembro img {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 60%;
    margin-left: 0.5rem;
}

.infomiembro {
    grid-column-start: 2;
    grid-column-end: 3;
}

.infomiembro h3 {
    margin: 0;
    font-size: 1.5rem;
}

.infomiembro p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
}
.disco{
    display: grid;
    grid-template-columns: 1fr 2fr;  
    margin: 25px;
    align-items: center;
}
.disco img{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 60%;
    margin-left: 0.5rem;
}
.infodisco{
    grid-column-start: 2;
    grid-column-end: 3;
}
.galeriagrid{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-rows: 3;
    grid-template-columns: 2;
    gap: 15px;

}
.foto1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
}
.foto2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
}
.foto3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
}
.foto4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
}
.foto5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow: hidden;
}
.galeriagrid img{
    width: 100%;
    height: auto;
    margin: 0;
}
@media (max-width: 768px) {
    .galeriagrid {
        grid-template-columns: 1;
        gap: 10px;
    }
}