body{
    margin: 0px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.grid div{
    border: 1px solid black;
}
.infoleft{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.infodown{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.diviframe{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.imagenindex{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}