// Variables
$primary-color: #276c7d;
$secondary-color: #333;
$button-background-start: #ff8200;
$button-background-end: #ff2600;
$scale-factor: 1.05;
$transition-duration: 0.3s;
$transition-timing-function: ease;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-metal-mania {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
}

// Cards Animation
.card-hover {
  &:hover {
    transform: scale($scale-factor); // Agranda la tarjeta al 105% usando la variable
    transition: transform $transition-duration $transition-timing-function; // Transición suave
  }
}

// General Styles
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

.home {
  height: 100vh;
  @include flex-center;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 8em;
    margin: 0;
    @include font-metal-mania;
    color: $primary-color;
  }
}

h2 {
  font-size: 5em;
  @include font-metal-mania;
  color: $primary-color;
}

section {
  padding: 60px 20px;
}

.commoncenter {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  margin: 20px;

  h3 {
    @include font-metal-mania;
    font-size: 2.5em;
    color: $primary-color;
  }

  p {
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
}

footer {
  padding: 20px;
  background-color: #222;
  text-align: center;
  margin-top: 20px;
}

.main {
  margin: 20px;
  height: 100vh;

  h1 {
    font-size: 4em;
    @include font-metal-mania;
    color: $primary-color;
  }

  p {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 100px; 
  }
}

.lbmain {
  margin: 20px;
  height: 100vh;

  h1 {
    font-size: 4em;
    @include font-metal-mania;
    color: $primary-color;
  }

  p {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 750px; 
  }
}

.dmain {
  margin: 20px;
  height: 100vh;

  h1 {
    font-size: 4em;
    @include font-metal-mania;
    color: $primary-color;
  }

  p {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 550px; 
  }
}

.center {
  @include flex-center;
  flex-direction: row;
  font-size: 3em;
  margin-bottom: 20px;
}

label {
  font-size: x-large;
  @include font-metal-mania;
  color: $primary-color;
}

.miembro {
  padding: 10px;
  margin: 10px;

    h3{
        font-family: 'Times New Roman', Times, serif;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
    }
}

.margen {
  margin: 20px;
}

h1 {
  font-size: 8em;
  margin: 0;
  @include font-metal-mania;
  color: $primary-color;
  @include flex-center;
}

a {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

// Media Query
@media (max-width: 767px) {
  .videos .container .row {
    flex-direction: column; 
  }
  .videos .container .row .col-md-6 {
    width: 100%; 
    padding: 0 15px; 
    box-sizing: border-box; 
  }
  .videos iframe {
    width: 100%; 
    height: auto; 
  }
}
